{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load staticfiles %}
{% block body_block %}



<div class="container">
    <div class="row">

        {% csrf_token %}
        {% for info in products %}
        <div class="col-md-3 mt-2">
            <div class="card shadow" style="max-width: 100%;">
  <img src="{% if info.image %}{{ info.image.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top" alt="...">
  <div class="card-body text-dark">
    <h5 class="card-title">{{ info.name }}</h5>
    <p class="card-text text-dark">{{ info.description }}</p>
      <a href="{{ info.get_absolute_url }}" class="btn btn-primary">View</a><p class="float-right">{{ info.price }}</p>
  </div>
</div>
        </div>
{% endfor %}

    </div>
</div>

<div class="product">
    <h3>Shop</h3>

        <ul>
        {% csrf_token %}
        {% for info in products %}
    <li>{{ info.club_id }}</li>
    <li>{{ info.category }}</li>
    <li>{{ info.name }}</li>
    <li>{{ info.image }}</li>
    <li>{{ info.description }}</li>
    <li>{{ info.price }}</li>
    <li>{{ info.size }}</li>
    <li>{{ info.stock }}</li>
    <li>{{ info.available }}</li>
    <li><a href="{{ info.get_absolute_url }}">TEST</a></li>
</ul>
{% endfor %}

    </div>

{% endblock %}

