{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <div class="registration">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
            <form action="{% url 'player_register:player_register' %}" method="POST">
                  {% csrf_token %}
                    {{ form.as_p}}
                <input type="submit" name="" value="Register">
            </form>
      {% endif %}
    </div>
</div>
{% endblock %}