{% extends 'shop-base.html' %}

{% block title %} Pay using PayPal{% endblock %}

{% block content %}
    <h1>Pay using PayPal</h1>

         <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post"
               id="clubIdForm" data-club-url="{% url 'player_register:ajax_load_paypal_email' %}" novalidate>

               {% csrf_token %}
               {{ form.render }}


            </form>
<input type="hidden" name="business" id="club_pk" value="{{ request.session.pk }}">



<script>
    $("#club_pk").val(function () {
      var url = $("#clubIdForm").attr("data-club-url");  // get the url of the `load_price` view
      var club_id = $(this).val();  // get the selected membership ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/player-register/ajax-load-price)
        data: {
          'club_id': club_id       // add the mem id to the GET parameters
        },
        success: function (data) { // `data` is the return of the `load_price` view function
          $("#id_business").val(data);// replace the contents of the price input with the data that came from the server

        }
      });
          businessEmail = document.getElementById("id_business");
          businessEmail.setAttribute("value", $("id_business"));
    });




 </script>
{% endblock %}