{% extends 'schedule-base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}


<div class="container">
    <div class="row s rounded-lg">
<div class="col-md-6   p-4  border-right rounded-lg">
        <h1>Book Here</h1>
    <h3>Just fill out the form.</h3>
    <form action="{% url 'rentapitch:pitch_rental' %}" method="POST" id="regForm" data-rental-url="{% url 'rentapitch:ajax_load_rental_price' %}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
                <input type="submit" name="" value="Add" class="btn btn-primary rounded-pill">
            <br>
           <b>Total Cost:</b> <div id="id_price"></div>

      <script>
    $("#id_pitch_id").change(function () {
      var url = $("#regForm").attr("data-rental-url");  // get the url of the `load_price` view
      var pitch_name = $(this).val();  // get the selected membership ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/player-register/ajax-load-price)
        data: {
          'pitch_name': pitch_name       // add the mem id to the GET parameters
        },
        success: function (data) { // `data` is the return of the `load_price` view function
          // replace the contents of the price input with the data that came from the server
          $("#id_price").html(data);
        }
      });

    });
 </script>
            </form>

    </div>
        <div class="col-md-6 text-center  ">

                        <p class="font-weight-bold mt-5" style="font-size:2rem;">
                Fill in the details to book your slot on our pitch!


            </p>

            <p class="mt-5 text-center">
<img src="https://images.pexels.com/photos/1171084/pexels-photo-1171084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="test  rounded-circle" height="300px" width="300px">
            </p>
            <p class="mt-3 text-center">
<img src="https://images.pexels.com/photos/179908/pexels-photo-179908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="test rounded-circle mt-5" height="300px" width="300px">

            </p>
            <hr>
</div>
    </div>
</div>
{% endblock %}