{% extends 'club_main_page.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}
{% block body_block %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <ul style="list-style: none;">
       <li>Email: {{ form.email}}</li>
       <li>First Name: {{ form.first_name}}</li>
       <li>Last Name: {{ form.last_name}}</li>
        </ul>
        <button type="submit">Submit</button>
    </form>
    <form action="{% url 'profiles:change_password' %}">
    <input type="submit" value="Change Password" />
    </form>

</div>

{% endblock %}