{% extends 'club_main_page.html' %}
{% load staticfiles %}
{% block body_block %}


<div class="container">
<div class="row">

{% csrf_token %}
{% for details in order %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12  mt-2">
    <p class="card-text text-dark">
        <ul class="list-unstyled">
      <li><b>Order Id:</b> {{ details.pk }}</li>
      <li><b>First Name:</b> {{ details.first_name }}</li>
      <li><b>Last Name:</b> {{ details.last_name }}</li>
      <li><b>Email:</b> {{ details.email }}</li>
      <li><b>Address:</b> {{ details.address }}</li>
      <li><b>PostCode:</b> {{ details.postal_code }}</li>
      <li><b>City:</b> {{ details.city }}</li>
      <li><b>Created:</b> {{ details.created }}</li>
      <form action="{% url 'orders:view_order' details.pk %}">
        <input type="submit" value="View Order"  class="dropdown-item">
     </form>

  </ul>
  </div>
{% endfor %}

</div>
</div>
{% endblock %}
