{% extends 'club_main_page.html' %}
{% load staticfiles %}
{% block body_block %}


<div class="container">
    <h1>Completed Orders</h1>
<div class="row">


{% csrf_token %}

    {% for details in order %}
    <div class="col-lg-4 col-md-6 col-sm-12 col-12  mt-4">
      <div class="card shadow-sm hvr-float-shadow w-100">
      <div class="card-body">
        <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Order Id:</b> {{ details.pk }}</li>
      <li class="list-group-item"><b>First Name:</b> {{ details.first_name }}</li>
      <li class="list-group-item"><b>Last Name:</b> {{ details.last_name }}</li>
      <li class="list-group-item"><b>Email:</b> {{ details.email }}</li>
      <li class="list-group-item"><b>Address:</b> {{ details.address }}</li>
      <li class="list-group-item"><b>PostCode:</b> {{ details.postal_code }}</li>
      <li class="list-group-item"><b>City:</b> {{ details.city }}</li>
      <li class="list-group-item"><b>Created:</b> {{ details.created }}</li>
      <li class="list-group-item"><b>Complete:</b> {{ details.complete }}</li>

      <form class="text-center" action="{% url 'orders:view_order' details.pk %}">
        <input type="submit" value="View Order"  class="btn btn-primary rounded-pill mt-3">
     </form>
      <form action="{% url 'orders:uncomplete-order' details.pk %}">
        <input type="submit" value="Un-Complete Order"  class="btn btn-danger rounded-pill mt-3">
     </form>

  </ul>


      </div>
    </div>
    </a>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
