{% extends "club_main_page.html" %}
{% load rest_framework %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="registration">
      {% if user.is_authenticated %}
<form action="{% url 'roster:club_roster' %}" method="POST">
          {% csrf_token %}
         {% render_form serializer %}
    <input type="submit" name="" value="Save">
</form>
        {% for id in roster %}
        <li>{{ id.club_id }}</li>
        <li>{{ id.pitch_id }}</li>
        <li>{{ id.team_id }}</li>
        <li>{{ id.date }}</li>
        <li>{{ id.start_time }}</li>
        <li>{{ id.finish_time }}</li>
        {% endfor %}
    {% else %}

       {% for id in roster %}
        <li>{{ id.club_id }}</li>
        <li>{{ id.pitch_id }}</li>
        <li>{{ id.team_id }}</li>
        <li>{{ id.date }}</li>
        <li>{{ id.start_time }}</li>
        <li>{{ id.finish_time }}</li>
        {% endfor %}

      {% endif %}
    </div>
  </div>
{% endblock %}