{% extends 'schedule-base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<h1 class="mt-2">Training Roster</h1>
<hr>
    <div id='calendar' class="my-4"></div>

<div class="row mt-4">
    <div class="col-md-6">
     {% if club_pk  ==  user.pk %}
<div class="addroster mt-3">
        <h3>Add A Team To The Roster</h3>
            <form action="{% url 'roster:club_roster' %}" method="POST">
                      {% csrf_token %}
                     {{ form|crispy }}
                <input type="submit" name="" value="Add" class="btn btn-primary rounded-pill">
            </form>
    {% endif %}
</div>
    </div>
        <div class="col-md-6">
<div class="roster">
    <h3>Roster Details</h3>
     {% csrf_token %}
            {% for id in roster %}
    <ul class="list-group">
            <li class="list-group-item">{{ id.club_id }}</li>
            <li class="list-group-item">{{ id.pitch_id }}</li>
            <li class="list-group-item">{{ id.team_id }}</li>
            <li class="list-group-item">{{ id.date }}, {{ id.start_time }} - {{ id.finish_time }}</li>
    </ul>
           {% if club_pk  ==  user.pk %}
    <ul class="list-inline">
       <li class="list-inline-item"> <form action="{% url 'roster:delete_roster' id.pk %}">
            <a onclick="return confirm('Are you sure you want to delete this?')"><input type="submit" value="Delete"  class="btn btn-primary rounded-pill"></a>
        </form>
       </li>

       <li class="list-inline-item"> <form action="{% url 'roster:edit_roster' id.pk %}">
         <input type="submit" value="Edit"  class="btn btn-primary rounded-pill">
        </form>
       </li>
    </ul>
        {% endif %}
        {% endfor %}
        </p>
    </div>
</div>
</div>
{% endblock %}