{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load staticfiles %}
{% block body_block %}

{% for info in club %}
{% if info.user.pk  ==  user.pk %}
  <div class="container mt-3">
      <h3>Add Pitches To Club.</h3>
        <form action="{% url 'clubs:add_pitches' %}" >
            <input type="submit" name="" class='btn btn-primary rounded-pill' value="Add Pitches">
        </form>
  </div>
{% endif %}
 {% endfor %}

<div class="container">
<div class="row">

{% csrf_token %}
        {% for info in pitch %}

    <div class="col-lg-6 col-md-6 col-sm-12 col-12  mt-4">
<div class="card" style="width: rem;">
  <img src="{% if info.photo %}{{ info.photo.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top img-fluid" alt="..." style="  object-fit: cover; height:20vw;">
  <div class="card-body">
    <p class="card-text text-dark">
      <div class="row">
      <div class="col-md-5">
      <ul class="list-unstyled">
      <li class="font-weight-bold">{{ info.pitch_name }}</li>
      <li><b>Size:</b> {{ info.get_pitch_size_display }}</li>
      <li><b>Type:</b> {{ info.get_pitch_type_display }}</li>
      </ul>
  </div>
      <div class="col-md-5">
          <ul class="list-unstyled">
      <li><b>Open Time:</b> {{ info.open_time }}</li>
      <li><b>Close Time:</b> {{ info.close_time }}</li>
              {% if info.rental == "1" %}
            <b><li>{{ info.get_rental_display }}:</li></b>
            {{ info.rental_price }}
              {% endif %}
  </ul>
      </div>
  </div>

      {% if club_pk  ==  user.pk %}
            <div class="dropown float-right">
  <i class="dropdown-togge fas fa-angle-down" type="buttn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </i>


  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

   <form action="{% url 'clubs:delete_pitch' info.pk %}">
            <a onclick="return confirm('Are you sure you want to delete this?')"><input type="submit" value="Delete"  class="dropdown-item"></a>
        </form>
    <form action="{% url 'clubs:edit_pitch' info.pk %}">
         <input type="submit" value="Edit"  class="dropdown-item">
        </form>
  </div>
</div>
            {% endif %}

  </div>
</div>
</div>


    {% endfor %}
</div>
</div>
{% endblock %}