{% extends 'club_main_page.html' %}
{% block body_block %}
{% load static %}

<div class="container mt-3">
    <div class="row justify-content-between">
        <div class="col-sm-3">

            {% for info in club %}
        <div class="card shadow-sm" style="width: ">
  <img src="{% if info.club_logo %}{{ info.club_logo.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top img-fluid " alt="..." ">
  <div class="card-body">
    <h5 class="card-title">{{ info.club_name }}</h5>
    <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>
        {% if info.user.pk  ==  user.pk %}
    <form action="{% url 'clubs:edit_club' %}">
    <input type="submit" class="btn btn-sm btn-primary rounded-pill" value="Edit Club" />
    {% endif %}
  </form>

      </p>

  </div>
</div>
            <div class="card mt-4 shadow-sm" style="width: ">
  <div class="card-body">
    <h5 class="card-title">About</h5>
    <p class="card-text text-dark">
        <ul class="list-unstyled">
      <li>{{ info.club_address1 }}</li>
        <li>{{ info.club_address2 }}</li>
        <li>{{ info.club_address3 }}</li>
        <li>{{ info.club_town }}</li>
        <li>{{ info.club_county }}</li>
        <li>{{ info.club_country }}</li>

  </ul>
    </p>

  </div>
</div>


  {% endfor %}


        </div>
        <div class="col-sm-offset-1 col-sm-6 border rounded shadow-sm bg-white">

            <p>
        {% csrf_token %}

            <ul class="list-group list-group-flush">
           {% for info in club %}
      {% if info.user.pk  ==  user.pk %}
    <form action="{% url 'clubs:club_post' %}">
        <input type="submit" value="Add New Post" class="btn btn-primary rounded-pill  mb-2"/>
    </form>
    {% endif %}
                {% endfor %}

            {% for info in club_posts %}
            <li class="list-group-item">
            <div class="row my-1" style="">
            <div class="col-sm-3">
                {% for pic in club %}
                <img src="{% if pic.club_logo %}{{ pic.club_logo.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="img-fluid rounded-circle" height="60px" width="60px" alt="...">
                {% endfor %}
            </div>
                <div class="col-sm-9"> <i class="fas fa-angle-down float-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

   <form action="{% url 'clubs:delete_post' info.pk %}">
            <a onclick="return confirm('Are you sure you want to delete this?')"><input type="submit" value="Delete" class="dropdown-item"></a>
        </form>
    <form action="{% url 'clubs:edit_post' info.pk %}">
            <input type="submit" value="Edit" class="dropdown-item">
        </form>
  </div>

            <p class="font-weight-bold">{{ info.title }}</p>

            <p>{{ info.text }}</p>
            {% if info.photo %}
            <img src="{{ info.photo.url }}" height="" width=""/>
            {% else %} {% endif %}
                </div>
            </div>
            </li>
            {% endfor %}
</ul>



        </div>
        <div class="col-l-offset-1 col-sm-2 border bg-white">
            <p>ADS</p>


        </div>
    </div>
</div>
<Br>
<br>
<br>
<br>
<br>
{% for info in club %}
{% if info.user.pk  ==  user.pk %}
<h3>Add Post</h3>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ new_post.as_p}}
        <button type="submit">Submit</button>
    </form>
</div>
{% endif %}
 {% endfor %}
<br>
<br>
<div class="container">
     {% for info in club %}
    <h1> Welcome to {{ info.club_name }}</h1>
    <h3>Club Details</h3>
        <p>
            {% csrf_token %}
        <li>{{ info.club_name }}</li>
        <li><img src="{{ info.club_logo }}" height="50px" width="50px"/></li>
        <li>{{ info.club_address1 }}</li>
        <li>{{ info.club_address2 }}</li>
        <li>{{ info.club_address3 }}</li>
        <li>{{ info.club_town }}</li>
        <li>{{ info.club_county }}</li>
        <li>{{ info.club_country }}</li>
        </p>

    {% if info.user.pk  ==  user.pk %}
    <form action="{% url 'clubs:edit_club' %}">
    <input type="submit" value="Edit Club" />
    {% endif %}
  </form>

</div>



<div class="posts">
    <h3>Club Posts</h3>
      {% if info.user.pk  ==  user.pk %}
    <form action="{% url 'clubs:club_post' %}">
        <input type="submit" value="Add New Post" />
    </form>
    {% endif %}
  {% endfor %}
        <p>
        {% csrf_token %}
        {% for info in club_posts %}
            <li>{{ info.title }}</li>
            <li><img src="{{ info.photo }}" height="50px" width="50px"/></li>
            <li>{{ info.text }}</li>
            <li>{{ info.created_date }}</li>
        {% for id in club %}
        {% if id.user.pk ==  user.pk %}

        <form action="{% url 'clubs:delete_post' info.pk %}">
            <a onclick="return confirm('Are you sure you want to delete this?')"><input type="submit" value="Delete"></a>
        </form>

         <form action="{% url 'clubs:edit_post' info.pk %}">
            <input type="submit" value="Edit">
        </form>

    {% endif %}
    {% endfor %}
    {% endfor %}

</div>






{% endblock %}