{% extends 'club_main_page.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body_block %}
<div class="container">
    <h3>Club Details</h3>
    <p>
        {% csrf_token %}
        {% for info in club %}
    <li>{{ info.club_name }}</li>
    <li><img src="{{ info.club_logo }}" height="50px" width="50px"/></li>
    <li>{{ info.club_address1 }}</li>
    <li>{{ info.club_address2 }}</li>
    <li>{{ info.club_address3 }}</li>
    <li>{{ info.club_town }}</li>
    <li>{{ info.club_county }}</li>
    <li>{{ info.club_country }}</li>

    </p>
    {% if info.user.pk  ==  user.pk %}
    <form action="{% url 'clubs:edit_club' %}">
    <input type="submit" value="Edit Club" />
    {% endif %}
     {% endfor %}

  </form>
</div>
<div class="posts">
    <h3>Club Posts</h3>
    <p>    {% if posts.club_id == user.club_id %}
    <form action="{% url 'clubs:club_post' %}">
    <input type="submit" value="Add New Post" />
    </form>
    {% endif %}
    </p>
    <p>
        {% csrf_token %}

        {% for info in club_posts %}

    <li>{{ info.title }}</li>
    <li><img src="{{ info.photo }}" height="50px" width="50px"/></li>
    <li>{{ info.text }}</li>
    <li>{{ info.created_date }}</li>
    <li>{{ info.published_date }}</li>
    {% if club_post.club_id == user.club_id %}
    <form action="{% url 'clubs:delete_post' info.pk %}">
    <input type="submit" value="Delete">
</form>
     <form action="{% url 'clubs:edit_post' info.pk %}">
    <input type="submit" value="Edit">
</form>
    {% endif %}
    </p>
    {% endfor %}
</div>


{% endblock %}