<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
{# Django Home Link / Profile Link / Club Link / Admin Link / Register Link #}
          <li><a class="navbar-brand" href="{% url 'index' %}">ClubKit</a></li>
            <li><a class="navbar-link" href="{% url 'clubs:club_home' %}">Home</a></li>
            <li><a class="navbar-link" href="{% url 'clubs:teams' %}">Team</a></li>
            <li><a class="navbar-link" href="{% url 'clubs:pitches' %}">Pitches</a></li>
            <li><a class="navbar-link" href="{% url 'player_register:player_register' %}">Player Register</a></li>
            <li><a class="navbar-link" href="{% url 'roster:club_roster' %}">Roster</a></li>
            <li><a class="navbar-link" href="">Rent-a-Pitch</a></li>
            <li><a class="navbar-link" href="">Shop</a></li>
            <li><a class="navbar-link" href="">Contact Us</a></li>

          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'profiles:view_profile' %}">Profile</a></li>
            <li><a href="{% url 'main:logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'main:login' %}">Login</a></li>
          {% endif %}
            <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
</ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>