{% extends 'shop-base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
<h1>test</h1>
        </div>


        <div class="col-lg-9 mt-2">
<div class="row">
    {% for package in packages %}
            <div class="col-lg-4 col-md-6 mt-4">
            <div class="card shadow" style="max-width: 100%;">
  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top img-fluid" alt="..." style="max-height:310px">
  <div class="card-body text-dark">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text text-dark">{{ product.description }}</p>
      <a href="{{ product.get_absolute_url }}" class="btn btn-primary rounded-pill">View</a><p class="float-right">€{{ product.price }}</p>
  </div>
</div>
        </div>
    {% endfor %}
</div>
        </div>




    </div>
</div>





{% endblock %}