{% extends 'club_main_page.html' %}
{% load staticfiles %}
{% block body_block %}

{% if club_pk  ==  user.pk %}
  <div class="addteam">
      <h3>Add Teams To Club.</h3>
<form action="{% url 'clubs:teams' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
    <input type="submit" name="" value="Add">
</form>
{% endif %}
<div class="team">
    <h3>Team Details</h3>
    <p>
        {% csrf_token %}
        {% for info in teams %}
    <li>{{ info.club_id }}</li>
    <li>{{ info.team_name }}</li>
    <li>{{ info.manager_name }}</li>
{% if club_pk  ==  user.pk %}
<form action="{% url 'clubs:delete_team' info.pk %}">
    <input type="submit" value="Delete">
</form>
    <form action="{% url 'clubs:edit_team' info.pk %}">
    <input type="submit" value="Edit">
</form>
{% endif %}
    </p>
    </div>
  </div>
{% endfor %}
{% endblock %}