{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} ClubKit - Sports Application {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
  <body>

    <nav class="nav navbar navbar-expand-md bg-dark text-white">
                <div class="container">
                <a href="{% url 'index' %}"><img class="masthead-brand" src="{% static 'logo.png' %}" alt="Logo" style="height:72px;"></a>

                  <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="container">

                  <div class="collapse navbar-collapse  nav-masthead" id="navbarCollapse">
                    <ul class="navbar-nav nav-masthead">
                      <li><a class="nav-link" href="">Our Clubs</a></li>
                      <li><a class="nav-link" href="">Packages</a></li>
                      <li><a class="nav-link" href="">Pricing</a></li>
                      <li><a class="nav-link" href="/shop/">Shop</a></li>
                      <li><a class="nav-link" href="">About Us</a></li>
                      <li><a class="nav-link" href="">Contact Us</a></li>

          {% if user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'profiles:view_profile' %}">Profile</a></li>
            <li><a class="nav-link" href="{% url 'main:logout' %}">Logout</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'main:login' %}">Login</a></li>
          {% endif %}
            <li><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
              </ul>
                  </div>
                      </div>
                    </div>
                </nav>



    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>