{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

 <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

    <!-- Custom styles-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body class="bg-white">

<div class="bgimg-1 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">

		<a href="#"><img class="masthead-brand" src="{% static 'logo.png' %}" alt="Logo" style="height:72px;"></a>

          <button class="hamburger hamburger--spring d-md-none" type="button" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="hamburger-box">
		<span class="hamburger-inner"></span>
		</span>
		</button>
          <nav class="nav nav-masthead navbar navbar-expand-md">
              <div class="container">

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="{% url 'main:our_clubs' %}">Our Clubs</a></li>
                      <li><a class="nav-link" href="">Packages</a></li>
                      <li><a class="nav-link" href="">Pricing</a></li>
                      <li><a class="nav-link" href="">About Us</a></li>
                      <li><a class="nav-link" href="">Contact Us</a></li>

          {% if user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'profiles:view_profile' %}">Profile</a></li>
            <li><a class="nav-link" href="{% url 'main:logout' %}">Logout</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'main:login' %}">Login</a></li>
          {% endif %}
            <li><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
          </div>
              </div>

        </nav>



        </div>



      </header>

      <main role="main" class="inner cover" style="margin-top: 16vh;">
        <h1 class="cover-heading bold">ClubKit</h1>

        <p class="lead">ClubKit, innovate your club<br><br>
        <button type="button" class="btn btn-success mr-2 rounded-pill">More Info</button><button type="button" class="ml-2 btn btn-primary rounded-pill">Register Now</button></p>


		<a class="scroll-link" href="#content">
		<svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYmid meet">
		 <g fill="none" fill-rule="evenodd">
			<rect width="70" height="118" x="1.5" y="1.5" stroke="#f5f5f5" stroke-width="3" rx="36"/>
			<circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#f5f5f5"/>
		</g>
	    </svg>
	    </a>


      </main>



    </div>




</div> <!--##End of large Home Image##-->
<!--
<div class="content container" style="" id="content">

<hr class="featurette-divider">


<div class="container">
  <div class="home">
    <h1>Welcome to ClubKit!</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}

    <h2>Our Clubs</h2>
        {% for club in all_clubs %}
        <a href="{% url 'clubs:club_home_with_pk' pk=club.pk %}">
            <li>{{ club.club_name }}</li>
        </a>
      {% endfor %}
--->
<h5><a class="navbar-link" href="{% url 'main:register' %}">Sign-up For ClubKit</a></h5>
</div>
  </div>

<div class="content container" style="" id="content">



         <div class="row featurette justify-content-between">
          <div class="col-md-7">
           <h3 class="featurette-heading"><a href="#">Rent-a-Pitch</a></h3>
            <p class="lead">We rent da pitches</p>

<a class="btn btn-lg btn-coford float-right mb-1 shadow-sm" href="/toolsservices/" role="button">Learn more</a>		 </div>
          <div class="col-md-4 my-auto">
         <a href="#"> <img class="featurette-image img-fluid mx-auto rounded" src="https://shortlist.imgix.net/app/uploads/2017/08/24175310/359e08cae257bc28409e81d1c3ecf708-495x330.jpg?w=1200&h=1&fit=max&auto=format%2Ccompress" alt=""></a>
          </div>
        </div>

        <hr class="featurette-divider">

    <div class="test">
        <div class="row featurette justify-content-between" id="test">
          <div class="col-md-7 order-md-2">
            <h3 class="featurette-heading">Rosters</h3>
            <p class="lead">We do the rosters</p>
          </div>
          <div class="col-md-4 order-md-1">
            <a href="#"><img class="featurette-image rounded img-fluid mx-auto" src="https://shortlist.imgix.net/app/uploads/2017/08/24175310/359e08cae257bc28409e81d1c3ecf708-495x330.jpg?w=1200&h=1&fit=max&auto=format%2Ccompress" alt=""></a>
          </div>
        </div>
    </div>
        <hr class="featurette-divider">

        <div class="row featurette justify-content-between">
          <div class="col-md-7">
            <h3 class="featurette-heading">Shop</h3>
            <p class="lead">Sell your club gear here</p>
          </div>
          <div class="col-md-4">
            <a href="#"><img class="featurette-image img-fluid mx-auto" src="https://shortlist.imgix.net/app/uploads/2017/08/24175310/359e08cae257bc28409e81d1c3ecf708-495x330.jpg?w=1200&h=1&fit=max&auto=format%2Ccompress" alt=""></a>
          </div>
        </div>

<hr class="featurette-divider">

      </div><!-- /.container -->
</div>



<hr class="featurette-divider">

      </div><!-- /.container -->
</div>




<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:35px;color: #f7f7f7;">CLUBKIT</span>
  </div>
</div>


<!-- <div class="bgimg-1 mh-25">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div> -->

<!-- FOOTER -->

      <footer class="container">
        <hr class="featurette-divider">
        <ul class="float-right list-unstyled">
        <li><i class="fas fa-address-book"></i> Contact Us: <br><p>Project Test<br>Project Test<br>Dublin 2</p></li>
    <li><i class="fas fa-envelope"></i> Email: <a href="mailto:"></a></li>
		<li><i class="fas fa-mobile"></i> Phone:  <a href="tel:">+353 (0)123456</a></li><br>
        </ul>

        <p> <a href="https://www.agriculture.gov.ie/legalnotices/copyright/">&copy; 2017-2018 PROJECT</a> &middot; Newsletter</p>


    <p>Get the latest update from us by subscribing to our newsletter.</p>
		<form class="form-inline">
  <div class="form-group  mb-2">
    <input type="email" class="form-control" id="email1" placeholder="name@example.com">
  </div>
  <button type="submit" class="btn btn-success mb-2" data-toggle="tooltip" data-placement="top" title="This button will subscribe you to our newsletter">Subscribe</button>
</form>
      </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script>
  var $hamburger = $(".hamburger");
  $hamburger.on("click", function(e) {
    $hamburger.toggleClass("is-active");
    // Menu opens throughb data-target tag but adds animation thorugh this function
  });
</script>

</body>
</html>