{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="card-deck justify-content-between container">

    {% for club in all_clubs %}
    <a href="{% url 'clubs:club_home_with_pk' pk=club.pk %}">
  <div class="card mx-3 mb-4 shadow">
    <img src="{% if club.club_logo %}{{ club.club_logo.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top" alt="..." style="max-width:250px;">
    <div class="card-body">
      <h5 class="card-title">{{ club.club_name }}</h5>
      <p class="">{{ club.club_county }}, {{ club.club_country }}</p>
      <p class="card-text"><small class="text-muted">Joined {{ club.created_date }}</small></p>
    </div>
  </div>
    </a>


{% endfor %}

</div>



{% endblock %}