{% extends 'club_main_page.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<h1 class="mt-2">Members</h1>

<div class="row mt-4">
<div class="col-md-6">
<div class="addroster mt-3">
        <h3>Add Members To Club</h3>
            <form action="{% url 'player_register:members' %}" method="POST">
                      {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="" value="Add" class="btn btn-primary rounded-pill">
            </form>

</div>
</div>

<div class="col-md-5">
<div class="roster mt-3">
    <h3>Member Details</h3>
    <br>
     {% csrf_token %}
            {% for mem in members %}
    <ul class="list-group">
        <li class="list-group-item"><b>Name:</b> {{ mem.first_name }} {{ mem.last_name }}
        <div class="dropown float-right">
  <i class="fas fa-chevron-circle-down"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </i>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

   <form action="{% url 'player_register:delete_member' mem.pk %}">
            <a onclick="return confirm('Are you sure you want to delete this?')"><input type="submit" value="Delete"  class="dropdown-item"></a>
        </form>
    <form action="{% url 'player_register:edit_member' mem.pk %}">
         <input type="submit" value="Edit"  class="dropdown-item">
        </form>
  </div>
        </div>
    </li>
        <a href="#collapse{{ mem.pk }}" class="btn btn-secondary btn-sm" data-toggle="collapse" >Expand</a>
            <div id="collapse{{ mem.pk }}" class="collapse">
            <li class="list-group-item"><b>Membership Type:</b> {{ mem.membership_title }}</li>
                <li class="list-group-item"><b>Date of Birth:</b> {{ mem.dob }}</li>
                <li class="list-group-item"><b>Email:</b> {{ mem.email }}</li>
                <li class="list-group-item"><b>Phone:</b> {{ mem.phone }}</li>
                <li class="list-group-item"><b>Mobile:</b> {{ mem.mobile }}</li>
                <li class="list-group-item"><b>Emergency Contact:</b> {{ mem.emergency_contact_name }}</li>
                <li class="list-group-item"><b>Emergency Contact No:</b>{{ mem.emergency_contact_mobile }}</li>
                <li class="list-group-item"><b>Address:</b>{{ mem.address1 }}, {{ mem.address2 }}, {{ mem.address3 }},
                                            {{ mem.town }}, {{ mem.county }}, {{ mem.country }} </li>

        <br>
            </div>
        <br>
    </ul>
      {% endfor %}

</div>

{% endblock %}
</div>
</div>