{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}

<div class="container">
    <div class="row s rounded-lg">
<div class="col-md-6   p-4  border-right rounded-lg">
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <p>Choose which membership you wish to purchase, fill out the form and you will be brought to the payment screen.</p>

            <form action="{% url 'player_register:player_register' %}" method="POST" id="regForm" data-member-url="{% url 'player_register:ajax_load_price' %}" novalidate>

               {% csrf_token %}
               {{ form|crispy }}

                <br>
                <input type="submit" name="" value="Register" class="btn btn-primary rounded-pill"> <br><form id="priceForm">
                <br>
           <b>Total Cost:</b> <div id="id_price"></div>
            </form>
            </form>
            <br>



<script>
    $("#id_membership_title").change(function () {
      var url = $("#regForm").attr("data-member-url");  // get the url of the `load_price` view
      var membership_title = $(this).val();  // get the selected membership ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/player-register/ajax-load-price)
        data: {
          'membership_title': membership_title       // add the mem id to the GET parameters
        },
        success: function (data) { // `data` is the return of the `load_price` view function
          // replace the contents of the price input with the data that came from the server
          $("#id_price").html(data);
        }
      });

    });
 </script>
</div>

        <div class="col-md-6 text-center  ">
                        <p class="font-weight-bold mt-5" style="font-size:2rem;">
                Register for your club to begin playing straight away!


            </p>
            <hr>

            <p class="mt-5 text-center">
<img src="https://images.pexels.com/photos/2072899/pexels-photo-2072899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="test  rounded-circle" height="300px" width="300px">
            </p>
            <p class="mt-3 text-center">
<img src="https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="test rounded-circle mt-5" height="300px" width="300px">

            </p>


</div>
    </div>
</div>
{% endblock %}