{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body_block %}

<div class="container mt-4">
    <div class="registration">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <p>Choose which membership you wish to purchase, fil out the form and you will be brought to the payment screen.</p>
            <form action="{% url 'player_register:player_register' %}" method="POST">
                  {% csrf_token %}
                    {{ form|crispy }}
                <input type="submit" name="" value="Register">
            </form>
      {% endif %}
    </div>
</div>
{% endblock %}