{% extends 'shop-base.html' %}

{% block title %} Pay using PayPal{% endblock %}

{% block content %}


    <div class="container">

        <H1>..{{ request.session.membership_price }}..</H1>

        <H1>..{{ membership_price }}..</H1>
        <h2> {% for id in price %}
                {{ id.price }}
            {% endfor %}
        </h2>

    <h1>Pay using PayPal</h1><form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick" id="id_cmd">
        <input type="hidden" name="charset" value="utf-8" id="id_charset">
        <input type="hidden" name="currency_code" value="EUR" id="id_currency_code">
        <input type="hidden" name="no_shipping" value="1" id="id_no_shipping">
        <input type="hidden" name="business" value="clubkit@outlook.ie" id="id_business">
        <input type="hidden" name="amount" value="100" id="id_amount">
        <input type="hidden" name="item_name" value="Order" id="id_item_name">
        <input type="hidden" name="invoice" value="0" id="id_invoice">
        <input type="hidden" name="notify_url" value="http://127.0.0.1:8000/paypal/" id="id_notify_url">
        <input type="hidden" name="cancel_return" value="http://127.0.0.1:8000/payment/cancelled/" id="id_cancel_return">
        <input type="hidden" name="return" value="http://127.0.0.1:8000/payment/done/" id="id_return">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Buy it Now">
</form>


</div>
{% endblock %}