{% extends "base.html" %}
{% block content %}

<h1>About ClubKit</h1>
<hr>
<p>Club-Kit is a sports club admin application. Our goal is take a significant workload off of the hardworking volunteers in sports clubs everywhere. We do this through implementing online features such as player registration, renting pitches, sending out training rosters and a club shop.</p>

<p>Local clubs rely on volunteers to give up their free time to assist in keeping a club running smoothly on a daily basis. Volunteers jobs can vary from managing teams to completing administrative work and everything in between. Club-Kit uses advanced online systems to help automate daily tasks and in-turn, dramatically reduce the workload of each volunteer.</p>


<h2>Our Features</h2>
<hr>
<h3>Player Registration</h3>
<p>The player registrations feature removes the need for clubs to host a registration night at the beginning of the year, as most clubs still do and will help improve and speed up the process of registrations and avoid potential errors especially handling cash payments. The system will also keep track of who is registered correctly and who is fully payed up.</p>

<h3>Rent-a-Pitch</h3>
<p>Renting out facilities and pitches can be one of a clubs primary sources of income. When facilities are not in use by teams within the club, the club has the option to rent the facilities to third parties online through a secure booking system. While most clubs already rent their facilities, it is commonly completed over the phone and by a volunteer constantly taking phone calls and noting who has booked and when. Our online system allows for users to look up available slots within the club, book and pay online.</p>

<h3>Club Shop</h3>
<p>The club shop feature allows clubs to advertise and sell club jerseys, shorts, hats and other types of club gear online. Users can purchase online from the club shop, pay online and collect their purchase from the club. Club admins will be responsible for populating club shop by including photos, titles, categories, sizes, prices, number of units and descriptions of the goods.</p>

<h3>Training Rosters</h3>
<p>Allowing for clubs to easily schedule and show training rosters online is another feature of Club-Kit. This features allows players and parents quickly find training rosters on their clubs page.</p>
<hr>
<p>A problem with sports clubs is that volunteers become tired of the constant work needed to keep a club running. This leads to people walking away and leaving the clubs with a big problem. Our aim is to make running a club as easy as possible for everyone. Each feature is available as a standalone solution or as a full package which allows for Club-Kit to tailor for each individual club’s needs
</p>
{% endblock %}