<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} ClubKit - Sports Application {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}"/>
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
           <style>
            .test {
              height: 20vw;
  object-fit: cover;
  }

        </style>
      <script>
          $( function() {
            $( "#datepicker" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
          } );
    </script>

      <script>
$(document).ready(function(){
    $('input.timepicker').timepicker({
    timeFormat: 'HH:mm',
    interval: 60,
    minTime: '10',
    maxTime: '10:00pm',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true

    });
});
</script>

    <script>
    $(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        height: 650,
        selectable: true,
        minTime: '09:00:00',
        defaultView: 'agendaFourDay',
        groupByDateAndResource: true,
        header: {
          left: 'prev,next',
          center: 'title',
          right: 'agendaDay,agendaFourDay'
        },
        views: {
          agendaFourDay: {
            type: 'agenda',
            duration: { days: 5 }
          }
        },
     eventRender: function(eventObj, $el) {
          $el.popover({
            title: eventObj.title,
            content: eventObj.description,
            trigger: 'hover',
            placement: 'top',
            container: 'body'
          });
        },

        events: [ // put the array in the `events` property

           {% for reoccur in reoccuring_event %}
     {
              title:'{{ reoccur.team_id }}',
              description:'{{ reoccur.team_id }}, {{ reoccur.pitch_id }}, {{ reoccur.start_time|date:"G:i" }} - {{ reoccur.finish_time|date:"G:i" }} ',
              start: '{{ reoccur.start_time|date:"G:i:s" }}',
              end  : '{{ reoccur.finish_time|date:"G:i:s" }}',
              dow: [ {{ reoccur.reoccuring_day }} ] // Repeat monday and thursday
    },
               {% endfor %}
            

            {% for i in roser %}
                    {
                        title  : '{{ i.team_id }}',
                        description : '{{ i.team_id }}, {{ i.pitch_id }}, {{ i.start_time|date:"G:i" }} - {{ i.finish_time|date:"G:i" }} ',
                        start  : '{{ i.date|date:"Y-m-d" }}T{{ i.start_time|date:"G:i:s" }}',
                        end  : '{{ i.date|date:"Y-m-d" }}T{{ i.finish_time|date:"G:i:s" }}',

                    },
            {% endfor %}



          ],

      });

    });
    </script>
</head>
  <body class="bg-light">
    <nav class="nav navbar navbar-expand-md bg-clubkit text-white">
        <div class="container">
            <a href="{% url 'index' %}"><img class="masthead-brand" src="{% static 'clubkitlogo.png' %}" alt="Logo" style="height:60px;"></a>
            <button class="hamburger hamburger--spring d-md-none" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </button>

        <div class="container">
            <div class="collapse navbar-collapse  nav-masthead" id="navbarCollapse">
            <ul class="navbar-nav nav-masthead">

            {# Navbar Links #}
            <li><a class="nav-link" href="{% url 'clubs:club_home' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'clubs:teams' %}">Teams</a></li>
            <li><a class="nav-link" href="{% url 'clubs:pitches' %}">Pitches</a></li>
            <li><a class="nav-link" href="{% url 'roster:club_roster' %}">Roster</a></li>
            <li class=" dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Member Registration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'clubs:memberships' %}">Memberships</a>
                  <a class="dropdown-item" href="{% url 'player_register:player_register' %}">Registration</a>
            {% for info in club %}
            {% if info.user.pk  ==  user.pk %}
                  <a class="dropdown-item" href="{% url 'player_register:members' %}">Members</a>
            {% endif %}
            {% endfor %}
                </div>
            </li>
            <li class=" dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'clubs:memberships' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Rent-a-Pitch
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'rentapitch:pitch_rental' %}">Rent-a-Pitch</a>
                  <a class="dropdown-item" href="{% url 'rentapitch:pitch_bookings' %}">Pitch Bookings</a>
                </div>
            </li>


            {% for info in club %}
            {% if info.user.pk  ==  user.pk %}
           <li class=" dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shop
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'shop:product_list' %}">Club Shop</a>
              <a class="dropdown-item" href="{% url 'shop:club_shop_products' %}">Shop Products</a>
              <a class="dropdown-item" href="{% url 'shop:club_shop_categories' %}">Shop Categories</a>
              <a class="dropdown-item" href="{% url 'orders:orders' %}">Club Orders</a>
            </div>
            </li>
            {% else %}
            <li>
                <a class="nav-link" href="{% url 'shop:product_list' %}">Club Shop</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
            </div>
        </div>
        </div>
    </nav>

</body>

    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


  <!-- FOOTER -->

  <footer class="container">
    <hr class="featurette-divider">
        <ul class="float-right list-unstyled">
            <li><i class="fas fa-address-book"></i> Contact Us: <br><p>Project Test<br>Project Test<br>Dublin 2</p></li>
            <li><i class="fas fa-envelope"></i> Email: <a href="mailto:"></a></li>
            <li><i class="fas fa-mobile"></i> Phone:  <a href="tel:">+353 (0)123456</a></li><br>
        </ul>
        <p> <a href="https://www.agriculture.gov.ie/legalnotices/copyright/">&copy; 2017-2018 PROJECT</a> &middot; Newsletter</p>
        <p>Get the latest update from us by subscribing to our newsletter.</p>
        <form class="form-inline">
            <div class="form-group  mb-2">
                <input type="email" class="form-control rounded-pill" id="email1" placeholder="name@example.com">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill mb-2 ml-2" data-toggle="tooltip" data-placement="top" title="This button will subscribe you to our newsletter">Subscribe</button>
        </form>
  </footer>
</html>

<script>
  var $hamburger = $(".hamburger");
  $hamburger.on("click", function(e) {
    $hamburger.toggleClass("is-active");
    // Menu opens throughb data-target tag but adds animation thorugh this function
  });
</script>


