{% extends 'shop-base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">

<h4>Categories</h4>
            <ul class="list-group list-group-flush list-unstyled">
              <li {% if not category %} class=""{% endif %}><a class="list-group-item" href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class=""{% endif %}>
                  <a class="list-group-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
            </ul>

        </div>





        <div class="col-lg-9 mt-2">
<div class="row">
    {% for product in products %}
            <div class="col-lg-4 col-md-6 mt-4">
            <div class="card shadow" style="max-width: 100%;">
  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'no-image.png' %}{% endif %}" class="card-img-top img-fluid" alt="...">
  <div class="card-body text-dark">
    <h5 class="card-title">{{ info.name }}</h5>
    <p class="card-text text-dark">{{ product.description }}</p>
      <a href="{{ product.get_absolute_url }}" class="btn btn-primary rounded-pill">View</a><p class="float-right">€{{ product.price }}</p>
  </div>
</div>
        </div>
    {% endfor %}
</div>
        </div>




    </div>
</div>





{% endblock %}