{% extends 'club_main_page.html' %}
{% load rest_framework %}
{% load staticfiles %}
{% block body_block %}

{% if info.user.club_id  ==  user.club_id %}
  <div class="addproduct">
      <h3>Add Product To Shop</h3>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Submit</button>
    </form>

</div>
{% endif %}
<div class="product">
    <h3>Product List</h3>
    <p>
        {% csrf_token %}
        {% for info in products %}
    <li>{{ info.club_id }}</li>
    <li>{{ info.category }}</li>
    <li>{{ info.name }}</li>
    <li>{{ info.image }}</li>
    <li>{{ info.description }}</li>
    <li>{{ info.price }}</li>
    <li>{{ info.size }}</li>
    <li>{{ info.stock }}</li>
    <li>{{ info.available }}</li>

    {% if info.user.club_id  ==  user.club_id %}
<form action="{% url 'shop:delete_product' info.pk %}">
    <input type="submit" value="Delete">
</form>
    <form action="{% url 'shop:edit_product' info.pk %}">
    <input type="submit" value="Edit">
</form>
{% endif %}
    </p>
    </div>
  </div>
{% endfor %}
{% endblock %}